
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.header {
    background-color: black;
}

.title-header {
    color: orange;
}

.banner1 {
    background-image: url(images/portada-maths.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.title-intro {
    width: 100%;
    margin-top: 0.5em;
}

.h2-title {
    font-size: 52px;
    color: orange;
    font-style: oblique;
    text-align: center;
}

.pi-cont {
    align-items: center;
    width: 100%;
    
}

.pi {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
